.container {
  height: 110px;
  background-color: var(--white);
  padding: 0 64px 0 53px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 16rem;
    height: 4rem;
  }

  .miniLogo {
    display: none;
  }

  .links {
    color: var(--brown-500);

    display: flex;
    gap: 127px;
  }
}

@media (max-width: 1000px) {
  .container {
    .links {
      gap: 50px;
    }
  }
}

@media (max-width: 740px) {
  .container {
    .logo {
      display: none;
    }

    .miniLogo {
      display: initial;
    }
  }
}
