.container {
  height: 226px;
  padding: 0 151px 0 151px;

  display: flex;
  align-items: center;

  .wrapper {
    width: 100%;
    max-width: 600px;

    display: flex;
    justify-content: space-between;
  }

  .socials {
    display: flex;
    gap: 22px;
  }

  .contact {
    max-width: 121px;
  }

  h3 {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }
}

@media (max-width: 740px) {
  .container {
    height: initial;
    padding: 41px 0 53px 0;
    justify-content: center;

    .wrapper {
      align-items: center;
      flex-direction: column;
    }

    .socials {
      margin-bottom: 40px;
    }

    h3,
    p {
      text-align: center;
    }
  }
}
